[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
opencv-python = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
videoanalyzer = {editable = true, path = "."}

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
