[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-multipart = "*"
uvicorn = {extras = ["standard"], version = "*"}
videoanalyzer = {editable = true, path = "."}

[dev-packages]
mypy = "*"
pytest = "*"
flake8 = "*"
autopep8 = "*"
flake8-import-order = "*"
pyright = "*"

[scripts]
lint = "flake8 --ignore=E501 --show-source ."
format = "autopep8 -ivr ."

[requires]
python_version = "3.8"
